.a {
    font-size: 100px;
    padding-top: 75px; /*pushes div away from 75px header*/
    height: 100%;
    width: 100%;
  }

  .adminList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: ridge;
    align-items: flex-start;
    margin-top: 3px;
  }